.about-box {
  background-image: url(../images/sections/about/no-code-mob.svg);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    background-image: url(../images/sections/about/no-code-tablet.svg);
    background-position: right;
  }
}
