.steps-slide {
  background-image: url(../images/sections/steps/slide-bg-mob.svg);
  background-size: contain;
  background-position: center bottom -10px;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    background-image: url(../images/sections/steps/slide-bg.svg);
    background-position: right -166px bottom;
  }

  @media (min-width: 1280px) {
    background-position: right bottom;
  }
}

.steps-day {
  @apply relative block;

  &::before {
    content: '';
    @apply absolute -left-[10px] top-0 -z-10 block h-16 w-16 md:-left-1/2 md:-top-[8px]  md:h-[100px] md:w-[100px];

    background-image: url(../images/sections/steps/slide-star.svg);
    background-size: contain;
  }
}

.slick-dots {
  @apply mx-auto flex gap-2;
}

.slick-dots > * {
  @apply flex h-10 w-10 items-center justify-center rounded-full bg-green-light text-[15px] font-bold leading-normal transition-all duration-300;
}

.slick-dots > .slick-active {
  @apply cursor-pointer bg-green text-white;
}

.slick-dots button {
  @apply outline-none;
}

.slick-dotted {
  @apply flex flex-col;
}

.slick-track {
  @apply flex overflow-x-hidden;
}

.slick-track > .slick-slide {
  @apply invisible opacity-0 transition-all duration-300;
}

.slick-track > .slick-slide.slick-active {
  @apply visible opacity-100;
}
