{% set section = about %}

<section class="section">
  <div class="container">
    <h2 class="section-title">{{section.title}}</h2>
    <p class="mb-8 text-base md:mb-10 md:w-[600px] md:text-xl xl:mb-[60px]">
      {{section.description}}
    </p>
    <div
      class="about-box rounded-2xl bg-green p-5 pr-6 md:p-10 xl:mx-auto xl:w-[1008px] smOnly:min-h-[431px]"
    >
      <p class="text-base font-medium text-white md:w-[355px] xl:w-[566px] xl:text-lg">
        {{section.text}}
      </p>
    </div>
  </div>
</section>
