{% set section = hero %}

<section
  class="hero bg-green-light pb-[60px] pt-[76px] md:pb-[84px] md:pt-[120px] xl:pb-[94px] xl:pt-[100px]"
>
  <div class="container md:flex md:gap-x-8 xl:justify-between">
    <div class="md:mt-10 md:w-[336px] xl:mt-12 xl:w-[577px] smOnly:mb-10">
      <p class="mb-5 w-[221px] text-xs md:mb-8 md:w-[285px] md:text-base xl:w-full">
        {{hero.preTitle}}
      </p>
      <h1
        class="mb-5 w-[280px] text-[28px] font-bold leading-9 md:mb-8 md:w-full md:text-4xl md:leading-tight xl:text-6xl"
      >
        {{hero.title.text}}
        <span class="font-lato text-green font-extrabold italic">{{hero.title.accent}}</span>
      </h1>
      <p class="mb-5 text-sm md:mb-8 md:text-lg">{{hero.subTitle}}</p>
      <span
        class="block w-fit rounded-[20px] bg-accent px-4 py-1 text-xs font-semibold leading-5 text-white md:py-2 md:text-sm"
        >{{hero.label}}</span
      >
    </div>
    {% set formBlockId = section.id %}{% include 'components/formBlock.html' %}
  </div>
</section>
