<div
  class="steps-slide flex flex-col items-center justify-between gap-[42px] rounded-[18px] border border-black-border p-5 md:min-h-[435px] md:flex-row md:gap-11 md:p-8 xl:p-[60px] smOnly:min-h-[592px]"
>
  <div>
    <div class="mb-5 flex items-end md:mb-[38px] xl:mb-[50px]">
      <span class="steps-day font-lato text-6xl font-black italic text-green md:text-[80px]"
        >{{ stepItem.id }}</span
      >
      <span class="text-xl font-bold md:text-2xl">{{ stepItem.day }}</span>
    </div>

    <h3
      class="mb-5 text-lg font-bold md:mb-8 md:w-[336px] md:text-xl xl:mb-10 xl:w-[599px] xl:text-2xl"
    >
      {{stepItem.title}}
    </h3>

    <div class="border-l border-green px-5">
      <p class="mb-3 text-base font-bold md:mb-5 md:text-lg xl:text-xl">{{stepItem.result}}</p>
      <p class="text-base md:text-lg">
        {{stepItem.text.part1}}
        <span class="font-bold">{{stepItem.text.accentPart}}</span>
        {{stepItem.text.part3}}
      </p>
    </div>
  </div>

  <div class="md:min-w-[260px] xl:min-w-[420px] smOnly:px-5">
    <img
      class="h-auto w-full"
      width="200"
      height="160"
      loading="lazy"
      alt="{{stepItem.image.altText}}"
      src="./assets/images/sections/steps/{{stepItem.image.name}}@1x.webp"
      srcset="./assets/images/sections/steps/{{stepItem.image.name}}@2x.webp 2x"
    />
  </div>
</div>
