{% set component = components.timer %}
<!--  -->
{% if component.startDate.active === true %} {% set component = component.startDate %}
<!--  -->
{% elif component.fixedTime.active === true %} {% set component = component.fixedTime %}
<!--  -->
{% endif %}

<div data-timer="{{component.count}}">
  <p>{{component.text}}</p>
  <ul class="flex justify-center gap-2 rounded-2xl bg-white-100 py-3">
    {% for item in component.items %}
    <li class="grid">
      <span class="max-w-max text-xl font-bold" {{item.attribute}}>00</span>
      <span class="text-[8px] font-semibold">{{item.text}}</span>
    </li>
    {% if not loop.last %}
    <li class="text-xl font-bold">:</li>
    {% endif %} {% endfor %}
  </ul>
</div>
